<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <title>Let's party!</title>
</head>
<body>
<div class="nav" th:fragment="header">
    <h1>Let's Party!</h1>
    <div class="navbuttons">
        <a class="buttonLook menuButton" th:href="@{/home}">home</a>
        <a class="buttonLook menuButton" th:href="@{/venuelist}">venues</a>
        <a class="buttonLook menuButton" th:href="@{/about}">about</a>
    </div>
</div>
</body>
</html>