<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <h1>about</h1>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <tcssitle>Title</tcssitle>
</head>
<body>
<p>bleblebleblebelbe</p>
<p th:text="${mySpecialNumber}">mySpecialNumber</p>
<a th:href="@{/home}">home</a>
<div th:replace="fragments/header :: header">Header</div>
<div th:replace="fragments/footer :: footer">Footer</div>


</body>
</html>