<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>let's Party</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
</head>
<h1>elloooo</h1>
<body>
<a th:href="@{/about}">about</a>


<div th:replace="fragments/header :: header">Header</div>
<div th:replace="fragments/footer :: footer">Footer</div>

</body>

</html>