<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>pay</title>
</head>
<body>


<div class="row1">

    <p th:text="|de datum van vandaag is ${LocalDate}|">LocalDate</p>
    <p th:text="|de uiterste datum van betaling is  ${LocalDate.plusDays(30)}|">LocalDateTime+30</p>
    <div class="row1content">
        <h2 th:if="${weekend}" th:text="weekend">pay</h2>
        <p th:unless="${weekend}"> geen weekend</p>
    </div>
    // NOG DOEN NIET GELUKT !!!!
</div>



<div th:replace="fragments/header :: header">Header</div>
<div th:replace="fragments/footer :: footer">Footer</div>





</body>
</html>