<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Title</title>
</head>
<body>
<p th:text="${LocalDate}">LocalDateTime</p>
<p th:text="|de datum van vandaag is ${LocalDate}|">LocalDateTime</p>
<p th:text="|de uiterste datum van betaling is  ${LocalDate.plusDays(30)}|">LocalDateTime+30</p>






</body>
</html>