<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>venues</title>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div th:replace="fragments/footer :: footer">Footer</div>
<ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/venuelist">venuelist</a></li>
    <li><a href="/about">about</a></li>

</ul>

<p></p>
<div class="row1">
    <div class="row1content">
        <h2 th:if="${venueName}" th:text="${venueName}">venuedetails</h2>
        <div th:each="venueName: ${venueNames}">
            <a class="buttonLook mediumButton"
               th:href="@{|/venuedetails/${venueNameStat.index}|}"
               th:text="${venueName}">venue name</a>
<!--            // hier nog is nakijken ofik alles gedaan heb kijk bundel 1 pg 28-->
<!--            // pg 29 no venue chosen werkt niet correct-->
        </div>
    </div>
</div>
<!--<p><a th:href="@{http://localhost:8080/venuedetails/De%20Loods}">de loods</a></p>
<p><a th:href="@{http://localhost:8080/venuedetails/zapoi}">zapoi</a></p>
<p><a th:href="@{http://localhost:8080/venuedetails/Cuba%20Libre}">cuba libre</a></p>-->
<div th:replace="fragments/header :: header">Header</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>