<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd"><html lang="en">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" href="../static/css/style.css"/>
    <title>Title</title>
</head>
<body>
<div class="row1">
    <div class="row1content">
        <h2><p th:text="${venueName}">venue</p> </h2>
    </div>
    <div class="buttons"><a href="/">home</a> </div>
</div>
<div th:replace="fragments/header :: header">Header</div>
<div th:replace="fragments/footer :: footer">Footer</div>


</body>
</html>